<div class="container d-flex flex-column align-items-center mt-5">
  <div id="home">
    <h1>Administration</h1>
    <h3>Toutes les infos de votre API</h3>
    <ul>
      <li>Nombre de vos users : <%= @users.count %></li>
      <li>Nombre d'Availabilities : <%= @availabilities.count %></li>
      <li>Nombre d'Appointments : <%= @appointments.count %></li>
      <li>Nombre de Services : <%= @services.count %></li>
      <li>Votre clé API : <%= current_admin.api_key.api_key %></li>
    </ul>
    <%= line_chart @users_charts %>
    <%= line_chart @services_charts %>
    <%= line_chart @availabilities_charts %>
    <%= line_chart @appointments_charts %>
  </div>
  <%= link_to "Disconnect", destroy_admin_session_path, data: { turbo_method: :delete }, class: 'btn btn-primary my-1' %>
</div>
