<tr>
  <th scope="row"><%= appointment.id %></th>
  <td><%= appointment.status %></td>
  <td><%= I18n.l(appointment.start_date, format: :custom) %></td>
  <td><%= I18n.l(appointment.end_date, format: :custom) %></td>
  <td><%= appointment.comment %></td>
  <td><%= appointment.seller_comment %></td>
  <td><%= appointment.price %> €</td>
  <td><%= appointment.seller_id %></td>
  <td><%= appointment.customer_id %></td>
  <td><%= link_to "DELETE", admins_appointment_path(appointment), data: { turbo_confirm: "Are you sure ?", turbo_method: :delete } %></td>
</tr>
