<% users.each do |user| %>
  <tr>
    <th scope="row"><%= user.id %></th>
    <td><%= user.email %></td>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.company %></td>
    <td><%= user.role %></td>
    <td><%= user.services.any? ? (link_to user.services.count, admins_services_path(user_id: user.id)) : user.services.count %></td>
    <td><%= user.appointments.any? ? (link_to user.appointments.count, admins_appointments_path(user_id: user.id)) : user.appointments.count %></td>
    <td><%= user.availabilities.any? ? (link_to user.availabilities.count, admins_availabilities_path(user_id: user.id)) : user.availabilities.count %></td>
  </tr>
<% end %>
