<!DOCTYPE html>
<html>
<head>
  <title>DatesCalendar</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script
    id="Cookiebot"
    src="https://consent.cookiebot.com/uc.js"
    data-cbid="<%= ENV['COOKIEBOT_KEY'] %>"
    type="text/javascript">
  </script>
</head>
<body data-controller="flashs">
  <%= render "shared/navbar" %>
  <% flash.each do |type, msg| %>
    <% type === 'alert' ? type = 'danger' : type = 'success' %>
      <% unless msg.blank? %>
        <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
          <%= msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
