<!DOCTYPE html>
<html>
<head>
  <title>DatesCalendar</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <script>
    window.axeptioSettings = {
      clientId: "66d2dfd1cf8b5d64e77a298b",
      cookiesVersion: "datescalendar-fr-EU",
      googleConsentMode: {
        default: {
          analytics_storage: "denied",
          ad_storage: "denied",
          ad_user_data: "denied",
          ad_personalization: "denied",
          wait_for_update: 500
        }
      }
    };

    (function(d, s) {
      var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
      e.async = true; e.src = "//static.axept.io/sdk.js";
      t.parentNode.insertBefore(e, t);
    })(document, "script");
  </script>
  <%= javascript_importmap_tags %>
</head>
<body data-controller="flashs">
  <%= render "shared/navbar" %>
  <% flash.each do |type, msg| %>
    <% type === 'alert' ? type = 'danger' : type = 'success' %>
      <% unless msg.blank? %>
        <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
          <%= msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
